.image_Upload_Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 76px;
  height: 76px;
  border-radius: 8px;
  background: #f6f6f6;
  border: 1px solid #d7d7d7;
  margin-right: 16px;
}

.image_Upload_Button > span {
  font-family:HannaAir;
  margin-top:5px;
  font-size:0.65rem;
}