@import './Carousel/Carousel.css';
@import './ProductDetailBody/ProductDetailBody.css';
@import './ProductDetailFooter/ProductDetailFooter.css';
@import './ProductDetailHeader/ProductDetailHeader.css';

.productDetail {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
