.imageCardList {
  display: flex;
  flex-wrap: nowrap;
}
.imageCard {
  display: flex;
  position: relative;
  width: 76px;
  height: 100%;
  border-radius: 8px;
  margin-right: 16px;
  object-fit: cover;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  );
}
.imageCard_delete_button {
  position: absolute;
  left: 80%;
  right: 0%;
  bottom: 80%;
  background-color: transparent;
  border: none;
}

.imageCard_image {
  width: 76px;
  height: 76px;
}
