.login-screen__logo{
    margin-top:70px;
    width:100%;
}

.login-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:200px;
}

.login-form__submit{
    all:unset;
    cursor:pointer;
}

.login-form__submit > img{
    width:120px;
}