@import "../MainPage/CreateProductButton/CreateProductButton.css";
@import "../MainPage/MainPageNavBar/MainPageNavBar.css";
@import "../MainPage/ProductsWrap/ProductsWrap.css";

.main{
    position:relative;
    width:100%;
    height:calc(100% - 70px);
    overflow-y:scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.main::-webkit-scrollbar{
    display:none;
}