.signup-screen__logo{
    margin-top:15px;
    width:100%;
}

.signup-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:200px;
}

.signup-form__submit{
    all:unset;
    cursor:pointer;
}

.signup-form__submit > img{
    width:120px;
}