.chatListHeader {
  box-sizing: border-box;
  display: flex;
  height: 9%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--line-color);
}

.chatListPageHeader__back__container {
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.chatListPageHeader__icon.invisible {
  visibility: hidden;
}
