@import './CarouselCount/CarouselCount.css';

.carousel__container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 35vh;
  background: #222;
  z-index: 1;
}

.carousel__slides {
  display: flex;
  position: relative;
  top: 0;
  left: -420px;
  width: 10000px;
  height: 100%;
}
.carousel__slides.shifting {
  transition: left 0.2s ease-out;
}
.carousel__img {
  max-width: 420px;
  min-width: 420px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
}
