.chatRoomList {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chatRoomList::-webkit-scrollbar {
  display: none;
}

.chatRoomList__chatRoom {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.5rem;
  padding: 1.2rem;
  border-bottom: 1px solid var(--line-color);
  cursor: pointer;
}
.chatroom__chat__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 1.2rem;
}

.chatRoom__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.chatRoom__lastTime {
  font-size: 0.9rem;
  color: var(--sub-font-color);
}
.chatRoom__chat__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 0.3rem;
}
.chatRoom__chat {
  color: var(--sub-font-color);
  font-size: 0.9rem;
  max-width: 88%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}

.chatRoom__thumbnail__container {
  position: relative;
  width: 18%;
}
.chatRoom__thumbnail__container::before {
  content: '';
  display: block;
  padding-top: 100%; /* 정사각형일 경우 */
}
.chatRoom__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.chatRoom__subcontent {
  display: flex;
}

.chatRoom__unreadChats {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--button-color-hovered);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  top: -0.3rem;
  right: 4px;
  border: 1px solid #ffffff;
}

.chatRoom__unreadChats__count {
  font-size: 0.9rem;
  color: white;
}
